@font-face {
  font-family: "simplifica";
  src: url(fonts/SIMPLIFICA.ttf);
}
@font-face {
  font-family: "audrey";
  src: url(fonts/Audrey.otf);
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
